.content-wrapper {
  margin-left: 184px;
}

.wrapper{
  display: flex;
}

#content{
  overflow: auto;
  box-sizing: border-box;
  padding: 20px 32px;
  flex-grow:1;
  margin-top: 48px;
}

#nav{
  position: fixed;
  top:5px;
  right:10px;
}

.indent{
  text-indent: 20px;
}